$primary: #2B4F97;
$secondary: #466C7C;
$black: #101010;
$white: #fff;
$white-2: #F2F4F8;
$white-3: #FCFCFC;
$blue:#2695C5;
$blue-2:#E6F0F5;
$blue-3:#BFC9D8;
$red:#F24236;
$red-2:#FFF0F0;

$font-primary: "Lexend", sans-serif;
$font-secondary: "Lexend Deca", sans-serif;

// :root[data-theme="light"] {
  //   --primary: #0b0b0e;
  // }
  // :root[data-theme="dark"] {
  //   --primary: #fff;
  // }
  // $primary: var(--primary);
  // $primary-rgb: var(--primary--rgb);